div.reviewsText {
  width: 100%
}

div.poster {
  margin: 10px;
}

p.review {
  white-space: pre-line;
}

.ActivSlide-container {
  height: 600px;
  margin: 10px;
  max-height: 18rem;
}

.bigPicture {
  /* float: right; */
  width: 100%;
  max-height: 15rem; 
  width: 30rem;
  object-fit: "cover";
  margin-top: 1rem;
  margin-left: 2rem; 
  align-items: center;
}

.map {
  /* margin-left: -15em; */
  /* margin-top: 20rem; */
  /* padding-top: 2rem; */
  padding-bottom: 1rem;
}

.map-container {
  position: absolute;
  /* margin-left: -15em;
  margin-top: -4em; */
  /* padding-top: 3rem; */
  width: 27rem;
  height: 20rem;
  margin: 20px;
}