.App {
  background-color: darkgray;
  min-height: 100vh;
  padding-bottom: 100px;
}

body {
  overflow-x: hidden;
}

.text-to-right {
  direction: rtl;
  text-align: right;
}

.navbar-brand.brand {
  color: white;
  padding: 0;
}

.navbar-brand.brand span {
  color: greenyellow;
  padding: 0;
}

.navbar-nav ul {
  display: flex;
  gap: 2rem;
  margin: auto;
}

.ml-auto:hover {
  letter-spacing: .05rem;
  color: lightgreen!important;
}

.navbar-nav.nav-link.link {
  color: white!important;
}

/* .navbar-nav.nav-link.link:hover {
  letter-spacing: .05rem;
  color: lightgreen;
} */

.navItem {
  color: white!important;
}

.nav-link{
  padding: 0;
}

.main-container {
  margin-top: 20px;
}

img.goOutsideLogo {
  height: 4rem;
  padding-right: 5px;
}
